// .authentication {
//   width: 100vw;
//   height: 100vh;
//   background-image: url(../../assets/image/background/bg-authentication.jpg);
//   background-repeat: no-repeat;
//   background-position: bottom;
//   background-size: cover;
//   overflow: scroll;
// }
.authentication__wrapper{
  text-align: center;
  padding: 40px 20px;
}
.authentication__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.authentication__form {
  margin: auto;
  text-align: center;
  padding: 20px 20px;
  max-width: 370px;
  // input {
  //   border: 1px solid $color-button;
  //   background-color: $color-light;
  //   padding: 10px 20px;
  //   border-radius: 5px;
  //   margin-bottom: 20px;
  //   font-size: 1.6rem;
  //   &:focus {
  //     border-color: $color-hovered;
  //     outline: none;
  //   }
  // }
}


.authentication__title {
  margin-bottom: 20px;
}
.authentication__subtitle {
  font-size: 1.6rem;
}
.authentication__buttons {
  padding: 20px;
  & > * {
    margin-left: 50px;
    margin-bottom: 20px;
    &:first-child {
      margin-left: 0px;
    }
  }
}
