.account {
  width: calc(100vw - 150px);
  height: 100vh;
  background-image: url(../../assets/image/background/bg-authentication.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

}
.account__content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-tiles {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 220px 220px;
}
.account__tile {
  padding: 10px 20px;
  margin: 5px;
}

.account__tile-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $background-header;
}
.account__tile-2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(35, 124, 213);
}
.account__tile-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(44, 125, 56);
}
.account__tile-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(182, 140, 48);
}
.account__tile-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(145, 72, 102);
}
