*{
  margin: 0;
  padding: 0;
}

.main{
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px 15px;
  .main__content{
     display: flex;
   }
  .main__task{
    width: 50%;
    padding: 10px;

    .main__title{
      text-align: center;
    }
    .main__points{
      font-size: 2rem;
    }
    .main__description{
      font-size: 2rem;
    }
    .main__date{
      font-size: 2rem;
    }
  }
  .main__buttons-container{
    display: flex;
    align-items: center;
    max-width: 130px;
    justify-content: space-around;
    margin: 20px auto;
  }
  .main__edit--panel{
    padding: 10px;

    .edit--panel__title{
      text-align: center;
    }
    .edit--panel__head{
      margin-top: 10px;
      .edit--panel__header{
        display: flex;
      }
    }

    .edit--panel__button{
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    .edit--panel__content{
      margin-top: 20px;
    }
  }




  .main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .main__content{
    flex-direction: column;
  }
  .main__task{
    width: 100%!important;
  }
  .main__buttons-container{
    margin: 0 auto;
  }
}
