*{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px 15px;

  .main__title{
    text-align: center;
  }
  .main__edit--panel{
    display: flex;
  }
  .main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
}