.category--item{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  .category--item__content{
    display: flex;
   .category--item__description{
     padding: 0 5px;
   }
  .category--item__score{
    padding: 0 10px;
  }
  }
}