.header {
  background-color: transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 850px){
    flex-direction: column-reverse;
  }
}

.navigation {
  font-size: 1.4rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0; 
  @media (max-width: 850px){
    justify-content: space-around;
    margin: 20px 0 0;
  }
}
.navigation__link {
  text-align: center;
  list-style: none;
  cursor: pointer;
  padding: 0 10px;
  @media (max-width: 850px){
    margin-bottom: 15px;
  }
}
.navigation__icon {
  width: 40px;
  height: 40px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $color-hovered;
  }
}

.icon_home {
  background-image: url(../../assets/image/icons/Home.svg);
  background-size: cover;
  width: 18px;
  height: 19px;
}
