.review-request-btn {
    margin-right: 8px;
}

.review-request-form {
    margin-top: 30px;
}

.review-request-form-title {
    text-align: center;
    font-size: 30px;
}

.review-request-btn-block {
    text-align: center;
}