$background-header: white;

$color-light: #ededed;
$color-hovered: #0023ff;
$color-button: #777777;



$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobibe-small-width: 320px;