
@import './normalize';
@import './constants';

// base
@import './base';

// pages
@import '../pages/Loading/Loading';
@import '../pages/HomePage/HomePage';
@import '../pages/ReviewRequest/ReviewRequest';
@import '../pages/Authentication/Authentication';
@import '../pages/CreateTask/CreateTask';
@import '../pages/CheckForm/CheckForm';
@import '../pages/Scores/Scores';
@import '../pages/Reviews/Reviews';

// @import '../pages/Authentication/Authentication';
// @import '../pages/UserAccount/UserAccount';

//  components
@import '../components/Header/Header';
@import '../components/ScoreReview/ScoreReview';
// @import '../components/Header/Header';
// @import '../components/UserList/UserList';
