.checkform__wrapper {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.6rem;
    padding: 2% 5% 1%;
}

.checkform__header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    padding: 10px 0;
    border-bottom: 3px solid black;
    .checkform__header-title {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
        @media (max-width: 767px) {
            margin: 0 0 10px 0;
            font-size: 2.5rem;
        }
    }
    .checkform__header-stats {
        font-size: 2rem;
        font-weight: 500;
        @media (max-width: 767px) {
            font-size: 1.5rem;
        }
    }
}

.checkform__main p {
    margin: 0;
    font-weight: 600;
}

.checkform__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    .checkform__item-description {
        margin: 0 5%;
        width: 50%;
        text-align: justify;
        @media (max-width: 767px) {
            margin: 10px 0;
            width: 90%;
            text-align: center;
        }
        p {
            margin: 0;
        }
        div {
            margin: 5px 0;
        }
    }
    .checkform__item-textarea {
        width: 100%;
        height: 80px;
        padding: 3px 12px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
    }
    
    .checkform__item-points {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.checkform__category-title {
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
    margin: 0;
    font-size: 2.5rem;
    @media (max-width: 767px) {
        text-align: center;
    }
}

.checkform__info {
     margin: 10px 0;
}

.checkform__items {
    display: flex;
    flex-direction: column;
}

.checkform__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;

}
.checkform__btns-submit {
    width: 30%;
    margin: 0 10px;
}

.checkform__item-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkform__scores-input {
    margin: 0 16px;
}

.ant-radio-group {
    display: flex;
    padding: 8% 0 0 0;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    @media (max-width: 767px) {
        flex-direction: row;
    }
}

.radioStyle {
    display: block;
    height: 30px;
    line-height: 30px;
}

.checkform__notification {
    text-align: center;
    font-size: 2rem;
}

.checkform__comment, .checkform__item-self--comment {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(80, 78, 78);
}
